## User settings
.DS_Store
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
*.zip

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.build/

# Carthage
Carthage/Build/

#Jazzy
build/

#SwiftLint
rule_docs/
